html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

:root {
	--white: #ffffff;

	--gray-100: #e1e1e6;
	--gray-300: #a8a8b3;
	--gray-900: #121214;

	--cyan-500: #61dafb;
	--yellow-500: #eba417;
}

@media (max-width: 767px) {
	html {
		font-size: 87.5%;
	}
}

@media (max-width: 1080) {
	html {
		font-size: 93.75%;
	}
}

body {
	background-color: var(--gray-900);
	color: var(--white);
}

body,
input,
textarea,
select,
button {
	font: 400 1rem "Roboto" -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
